/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial;
  background: #f0f0f0;
}
.logo {
  height: 40px;
  width: auto;
}
.logo-title {
  height: 50px;
  width: auto;

}
/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  z-index: 100;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Menu */
.main-menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.main-menu-list a {
  color: white;
  text-decoration: none;
}

/* Mobile btn */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
}

.mobile-menu-toggle span {
  display: block;
  height: 3px;
  width: 25px;
  background: white;
  margin: 5px;
}

/* Mobile menu */
.mobile-menu-items {
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #003366;
  transform: translateX(100%);
  transition: 0.3s;
}

.mobile-menu-items.active {
  transform: translateX(0);
}

.mobile-menu-list {
  list-style: none;
  padding: 50px;
}

.mobile-menu-list a {
  color: white;
  display: block;
  margin: 20px 0;
}

/* HERO 🔥 */
.hero {
  height: calc(100vh - 75px);
  overflow: hidden;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  /* ⭐ 關鍵動畫 */
  animation: heroZoom 8s ease-in-out infinite alternate;
}

@keyframes heroZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

  /* ⭐ fade動畫 */
  animation: fadeUp 1.5s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Cards */
.themes {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
}

.theme-card {
  background: #036;
  color: white;
  padding: 20px;
  border-radius: 15px;
  min-height: 320px;
  display: flex;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.theme-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  height: 300px;
}
.card-info {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.theme-card h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
  position: relative;
}

.theme-card p {
  font-size: 15px;
  line-height: 1.6;
  color: rgb(255,255,255,0.9)
}
.theme-card.show {
  opacity: 1;
  transform: translateY(0);
}


/* Mobile */
@media(max-width:768px){
  .main-menu-list{
    display:none;
  }
  .mobile-menu-toggle{
    display:block;
  }
  .themes{
    grid-template-columns:1fr;
  }
  .logo {
    height: 30px;
  }
    .hero {
      height: 60vh;
    }
    .theme-card img {
      height: 140px;
    }
    .theme-card h2 {
      font-size: 18px;
    }
    .theme-card p {
      font-size: 14px;
    }
}